body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    border-bottom: 1px solid #eaeaea;
}

.logo {
    display: flex;
    align-items: center;
    
}

.logo img {
    width: 40px;
    margin-right: 10px;
    scale: 200%;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #004aad;
    font-weight: bold;
}

.auth-buttons {
    display: flex;

}


.auth-buttons a {
    margin-left: 10px;
    padding: 10px 20px;
    border: 2px solid #004aad;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
}

.auth-buttons a:first-child {
    color: #004aad;
    border-color: #004aad;
}
.auth-buttons a:first-child:hover{
    background-color: #004aad;
    color: #f9f9f9;
    transition-delay: 5ms;
    transition-duration: 10ms;
}

.auth-buttons a:last-child {
    color: white;
    background-color: #2bc866;
}

.auth-buttons a:last-child:hover{
    color: #2bc866;
    background-color: #f9f9f9;
}

.main-content {
    text-align: center;
    padding: 50px 20px;
}

.main-content h1 {
    color: #2bc866;
    scale: 150%;
    margin-top: -10px;
}

.main-content p {
    color: #666;
    scale: 110%;
    
}

.features {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-left: 5%;
    margin-right: 8%;
}

.feature {
    margin: 0 20px;
    text-align: center;
}

.feature img {
    width: 100px;
    margin-bottom: 10px;
    scale: 150%;
}

.feature h3 {
    color: #2bc866;
}

.cta {
    background-color: #f9f9f9;
    color: #2bc866;
    padding: 20px;
    margin-top: 40px;
    text-align: center;
    justify-content: center;
    font-size: large;

    
}

.cta a {
    background-color: #2bc866;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 10px;
    font-weight: lighter;
    border-style: solid;
    border-radius: 25px;

    
}


.cta a:hover{
    background-color: #f9f9f9;
    color: #2bc866;
}

.home{
    scale: 125%;
    margin-left: 2%;

}

.hero {
    scale: 100%;
    margin-top: 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px;
    background-color: #2bc866;
    color: #fff;
}

.hero-content {
    max-width: 600px;
}

.hero h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.partner-logos {
    display: flex;
    gap: 20px;
    background-color: #ffffff;
    border-radius: 2em;
    

}

.partner-logos img {
    width: 100px;
    height: 60px;
}

.hero-image img {
    width: 300px;
    scale: 218%;
}